@import url(./variables.scss);

* {
  list-style: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.logo img {
  height: 80px;
}

.navbar a {
  margin: 10px;
  text-decoration: none;
}
.navbar a:hover {
  color: yellow;
}
